CODE_SIGN_ENTITLEMENTS = billbi/billbi.entitlements
INFOPLIST_KEY_BILLBI_CLOUDKIT_CONTAINER_IDENTIFIER = $(BILLBI_CLOUDKIT_CONTAINER_IDENTIFIER)
INFOPLIST_KEY_BILLBI_ENVIRONMENT_NAME = $(BILLBI_ENVIRONMENT_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(BILLBI_PRODUCT_BUNDLE_IDENTIFIER)
PRODUCT_NAME = $(BILLBI_PRODUCT_NAME)
